<mat-toolbar color="primary">
    <span>EasyCash</span>
    
    <span class="spacer"></span>
    <button mat-button><a href="http://localhost:8081/swagger/index.html">API Documentation</a></button>
    <button mat-button><a href="">Github Repo</a></button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="loggedIn">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>